body {
    font-family: Arial;
    padding: 20px;
    transition: background .3s, color .3s;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
}

/* CARD */
.product-card {
    background: white;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
    transition: transform .2s, box-shadow .2s;
}
.product-card:hover {
    transform: scale(1.04);
    box-shadow: 0px 4px 20px rgba(0,0,0,0.2);
}

.product-image {
    width: 100%;
    height: 130px;
    object-fit: contain;
}

/* FILTER + SEARCH */
#search, select {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #aaa;
    margin-bottom: 15px;
}
#dark-toggle {
    padding: 10px;
    margin-bottom: 15px;
}

/* STOK COLOR */
.stok-hijau { color: green; font-weight: bold; }
.stok-orange { color: orange; font-weight: bold; }
.stok-merah { color: red; font-weight: bold; }

/* DARK MODE */
body.dark {
    background: #121212;
    color: white;
}
body.dark .product-card {
    background: #1e1e1e;
    color: white;
}
body.dark input,
body.dark select {
    background: #222;
    color: white;
    border: 1px solid #555;
}
body.dark #dark-toggle {
    background: #333;
    color: white;
}
