body { font-family: Arial; padding: 20px; }
.grid { 
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); 
  gap: 20px; 
}
.product-card { 
  border: 1px solid #ccc; 
  padding: 10px; 
  border-radius: 10px; 
  text-align: center;
}
.filters { margin-bottom: 20px; }
.filters select { margin-right: 10px; padding: 5px; }
/* GAMBAR KOTAK RAPI */
.product-image {
    width: 100%;
    height: 180px;        /* Ukuran kotak */
    object-fit: contain;    /* Isi penuh dan rapi */
    border-radius: 10px;
    background: #f0f0f0;  /* Warna dasar kalau gambar kosong */
}

/* WARNA STOK */
.stok-hijau {
    color: green;
    font-weight: bold;
}

.stok-orange {
    color: orange;
    font-weight: bold;
}

.stok-merah {
    color: red;
    font-weight: bold;
}
